# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.TTRpgClient.iml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea/
/Rpg/obj/
/Rpg/bin/
/Server/obj/
/Server/bin/
/Client/obj/
/Client/bin/
/TraitGenerator/obj/
/TraitGenerator/bin/
/TraitGenerator/TraitGenerator/obj/
/TraitGenerator/TraitGenerator/bin/
/Tools/PacketTsGen/bin/
/Tools/PacketTsGen/obj/